{{#each artists as |artist|}}

  <div>
    <section data-id={{artist.id}}>
      <h1 data-id={{artist.id}}> <small>Title: {{artist.name}}</small></h1>
      <button class="btn btn-default delete-artist">Remove Artist</button>
    </section>
  </div>

{{/each}}
